
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <style>
      body {
        background-color:cadetblue;
      }
      .butto {
      position: absolute;
      right: 5px;
        top:5px;
        float:right;
       }
       .butto1 {
      position: absolute;
      left: 5px;
        top:5px;
        float:left;
       }
      div{
        text-align: center;
      }
      img {
        margin: 70px;
      }
      button {
        position: relative;
      }
      .but {
        position: fixed;
      }
      .task-title,
      .task-content {
        text-align: center;
      }
      .task{
        position: relative;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div id="app">

        <div text-align="center">
          <h2>MY TODO</h2>
        </div>
        <div class="d-flex justify-content-center align-items-center mb-5">
          <div>
            <input
              v-model="title"
              class="d-block mb-3 w-100"
              type="text"
              placeholder="Title"
              minlength="1"
            />
            <textarea
              v-model="content"
              required
              class="w-100 mb-3"
              name="comment "
              placeholder="Content"
              minlength="1"
            ></textarea>
            <div class="row">
              <div class="col-4">
                <form>
                  <input
                    class="d-block mb-3"
                    type="number"
                    placeholder="font-size"
                    min="1"
                  />
                </form>
                <div clas="row">

                  </button>
                </div>
              </div>
              <div class="col-4">
                <form>
                  <input
                    class="d-block mb-3"
                    type="text"
                    placeholder="Color"
                    minlength="1"
                  />
                </form>
                <form>
                  <button
                    @click="addTask()"
                    type="button"
                    class="btn btn-primary btn-lg btn-block"
                  >
                    ADD
                  </button>
                  <div class="d-flex justify-content-center align-items-center mb-5">
                    </button>
                    </button>
                  </div>
                </form>
                <br />
              </div>
              <div class="col-4">
                <input class="d-block mb-3" type="text" placeholder="BgColor" />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4 bg-primary">
            <h2>To do</h2>
            <tempate v-for="(task, i) in toDo" :key="i">
              <div
                class="task m-3 p-2 bg-secondary"
                :style="[{'background': task.background}]"
              >
              <button @click="arrayinp(i)"
                       type="button"
                      class="btn btn-secondary btn-lg butto">
                      &rarr;</button>
                <div class="task-title"><b>{{ task.title }}</b></div>
                <div class="task-content">{{ task.content }}</div>
              </div>
            </tempate>
          </div>
          <div class="col-4 bg-warning">
            <h2>In progress</h2>
            <template v-for="(task ,i) in inProgress" :key="i">
              <div class="task m-3 p-2 bg-primary">
                <div class="tasksclear-titlec">
                  <button @click="arraydone(i)"
              type="button"
             class="btn btn-secondary btn-lg butto">
             &rarr;</button>{{ task.title }} <button @click="arraytodo(i)"
             type="button"
            class="btn btn-secondary btn-lg butto1">
            &larr;</button></div>
                <div class="tasksclear-contentc">{{ task.content }}</div>
              </div>
          </template>
          </div>
          <div class="col-4 bg-success">
            <button  type="button" class="btn btn-secondary btn-lg butto1">&larr;</button>
            <h2>Done</h2>
            <template >
            <div class="tasksclear-titlec">
              <button @click="arraytodo(i)"
              type="button"
             class="btn btn-secondary btn-lg butto">
             &rarr;</button>{{ }}
            </div>
              </template>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        toDo: [],
        inProgress: [],
        done:[],
        title: '',
        content: '',
    },
      methods: {
        addTask() {
          if(!this.title || !this.content ){
            return
          }else{
            this.toDo.push({ title: this.title, content: this.content, fontSize: this.fontSize });
          }
        },
        delTask() {
          if(this.title || this.content){

          }
        }
        },
        arrayinp(i){
          this.inProgress.push(this.toDo[i]);
          this.toDo.splice(i, 1);
        },
        arraydone(i){
          this.done.push(this.inProgress[i]);
          this.inProgress.splice(i, 1);
        },
        arrayinp1(i){
          this.inProgress.push(this.done[i]);
          this.done.splice(i, 1);
        },
        arraytodo(i){
          this.toDo.push(this.inProgress[i]);
          this.inProgress.splice(i, 1);
        }



      })
  </script>
</html>